{% extends "base.html" %}

{% block title %}Hide Your Info{% endblock %}

{% block content %}
    <h3>
        <p>Please, use the following form to put your information:</p>
    </h3>

    <form action="" method="post">
        {% csrf_token %}
        <input id="digits_to_hide" type="number" name="digits_to_hide" value="{{ digits }}">
        <input id="mask_char" type="text" name="mask_char" value="{{ mask }}">
        <textarea id="raw_information" autofocus name="raw_information">{{ text_raw }}</textarea>
        <textarea id="hide_information" readonly>{{ text_hidden }}</textarea>
        {% comment %}<input id="text" type="text" name="text">{% endcomment %}
        <p><input type="submit" value="Hide Info"></p>
    </form>
{% endblock %}